.home-affiliations {
	height: fit-content;
	width: fit-content;
	max-width: 100%;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 40px;

	a {
		height: 60px;
		width: fit-content;
		max-width: 100%;
		margin: 0;
		padding: 2px;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			height: auto;
			width: auto;
			max-height: 60px;
			max-width: 100%;
			place-self: center;
			object-fit: contain;
			filter: invert(100%);
		}

		&:hover,
		&:focus-visible {
			img {
				filter: none;
			}
		}
	}
}
