@use './markdown.scss' as markdown;
@use './utils.scss' as utils;

// structure

html {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: inter, sans-serif;
	font-size: 16px;
	color: white;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	text-size-adjust: 100%;
	background-color: utils.$qm-blue;
	color: white;
}

#root {
	height: 100%;
	width: 100%;
}

header {
	min-height: 100vh;
	min-width: 100vw;
	display: grid;
	// background-image: url('./images/header.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	user-select: none;

	p {
		height: fit-content;
		width: fit-content;
		place-self: center;
		margin: 0;
		font-size: calc(0.6 * 20vw);
		font-weight: 600;
		font-style: italic;
		color: white;
		mix-blend-mode: difference;
	}
}

main {
	height: calc(100vh - 40px - utils.$navi-height);
	width: calc(100vw * (1 - 0.11));
	padding: 20px calc(0.055 * 100vw);
	overflow: hidden scroll;
	white-space: normal;
	overflow-wrap: break-word;
	text-align: justify;

	@include utils.highlight-text;
	@include markdown.markdown;

	> :last-child {
		margin-bottom: 0;
	}
}

.members {
	button {
		height: 100%;
		width: 100%;
		border: 0;
		background: white;
		color: utils.$qm-blue;
		font-size: large;

		@include utils.focus;
	}
}
