@use './markdown.scss' as markdown;
@use './utils.scss' as utils;

// structure

html {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: inter, sans-serif;
	font-size: 16px;
	color: white;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	text-size-adjust: 100%;
	background-color: utils.$qm-blue;
	color: white;
}

#root {
	height: 100%;
	width: 100%;
}

header {
	height: 300px;
	width: 100vw;
	margin-top: -20px;
	margin-left: calc(-0.055 * 100vw);
	margin-bottom: 20px;
	display: grid;
	background-image: url('./images/header.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

main {
	height: calc(100vh - 40px - utils.$navi-height);
	width: calc(100vw * (1 - 0.11));
	padding: 20px calc(0.055 * 100vw);
	overflow: hidden scroll;
	white-space: normal;
	display: grid;
	overflow-wrap: break-word;
	text-align: justify;

	@include utils.highlight-text;
	@include markdown.markdown;

	> :last-child {
		margin-bottom: 0;
	}
}

.members {
	button {
		height: 100%;
		width: 100%;
		border: 0;
		background: white;
		color: utils.$qm-blue;
		font-size: large;

		@include utils.focus;
	}
}
