.contact-headshots {
	height: 100%;
	width: 100%;
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1.25fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		't i'
		't i';

	align-items: center;
	text-align: center;

	img {
		height: 100%;
		width: 100%;
		grid-area: i;
		aspect-ratio: 1/2;
		object-fit: cover;
	}

	a,
	p {
		margin: 0;
		align-self: flex-end;
		font-size: small;
	}

	i {
		align-self: baseline;
		font-size: small;
	}
}
