@use './utils.scss' as utils;

@mixin markdown() {
	.markdown {
		width: 1000px;
		max-width: calc(100vw - 40px);
		margin-inline: auto;
		display: grid;
		text-align: inherit;

		> :last-child {
			margin-bottom: 0;
		}

		.h1 {
			height: fit-content;
			width: fit-content;
			margin: 10px 8px;
			display: grid;
			background-color: white;
			color: utils.$qm-blue;
			transform: skew(-20deg);

			h1 {
				width: fit-content;
				margin: 0;
				padding-inline: 7px;
				place-self: center;
				text-align: left;
				transform: skew(20deg);
			}
		}

		a {
			@include utils.focus;
			outline: 0;
			color: utils.$qm-compliment;
		}

		button {
			@include utils.focus;
			height: 100%;
			width: 100%;
			border: 0;
			background: white;
			color: utils.$qm-blue;
			font-size: large;
		}

		details {
			margin-bottom: 10px;
			border-bottom: 2px solid white;

			&[open] summary {
				@include utils.focus;
				background: white;
				color: utils.$qm-blue;
			}
		}

		iframe {
			width: 100%;
			border: 0;
			place-self: center;
		}

		img {
			max-width: 100%;
		}

		summary {
			@include utils.focus;
			font-size: x-large;
			padding-block: 4px;
			outline: 0;
		}
	}
}
