@use './utils.scss' as utils;

@mixin markdown() {
	.markdown {
		width: 1000px;
		max-width: calc(100vw - 40px);
		margin-inline: auto;
		display: grid;
		text-align: inherit;

		> * {
			margin-block: 10px;
		}

		.h1 {
			height: fit-content;
			width: fit-content;
			margin: 50px 8px 10px;
			display: grid;
			background-color: utils.$qm-white;
			color: utils.$qm-blue;
			transform: skew(-20deg);

			h1 {
				width: fit-content;
				margin: 0;
				padding-inline: 7px;
				place-self: center;
				text-align: left;
				transform: skew(20deg);
			}
		}

		a {
			@include utils.focus;
			outline: 0;
			color: utils.$qm-compliment;
		}

		button {
			@include utils.focus;
			height: 100%;
			width: 100%;
			border: 0;
			background: utils.$qm-white;
			color: utils.$qm-blue;
			font-size: large;
		}

		details {
			border-bottom: 2px solid utils.$qm-white;

			&:hover,
			&:focus-visible {
				border-bottom: 2px solid utils.$qm-blue;

				summary {
					background: utils.$qm-compliment;
					color: utils.$qm-blue;
				}
			}

			&[open] {
				border-bottom: 2px solid utils.$qm-white;

				summary {
					@include utils.focus;
					background: utils.$qm-white;
					color: utils.$qm-blue;
				}
			}
		}

		iframe {
			width: 100%;
			border: 0;
			place-self: center;
		}

		img {
			max-width: 100%;
		}

		span {
			display: grid;
			grid-auto-flow: column;
			gap: 10px;
			align-items: center;

			@media (width < utils.$ipad) {
				grid-auto-flow: row;
				grid-template: unset !important;
				place-items: initial;
				text-align: left !important;
			}
		}

		summary {
			@include utils.focus;
			font-size: larger;
			padding-block: 4px;
			outline: 0;
		}

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}
}
