@use './utils.scss' as utils;

@mixin markdown() {
	a {
		color: utils.$qm-compliment;
		outline: 0;

		@include utils.focus;
	}

	.h1 {
		height: fit-content;
		width: fit-content;
		display: grid;
		background-color: white;
		color: utils.$qm-blue;
		transform: skew(-20deg);
		margin-block: 10px;

		h1 {
			place-self: center;
			margin: 0 0 1px;
			width: fit-content;
			transform: skew(20deg);
			padding-inline: 8px;
		}
	}

	details {
		margin-bottom: 10px;
	}

	iframe {
		place-self: center;
	}

	img {
		max-width: 100%;
	}

	summary {
		font-size: x-large;
		padding-block: 4px;
		outline: 0;

		@include utils.focus;
	}
}
