.contact-staff {
	height: 100%;
	width: 100%;
	display: grid;
	gap: 10px 0;
	grid-template:
		'text image' 1fr
		'text image' 1fr / 1fr 1.25fr;
	place-items: center;
	text-align: center;

	img {
		height: 100%;
		width: 100%;
		grid-area: image;
		aspect-ratio: 1/2;
		object-fit: cover;
	}

	a,
	i,
	p {
		margin: 0 !important;
		align-self: flex-end;
		font-size: small;

		&:is(i) {
			align-self: baseline;
		}
	}
}
