// vars

$background: rgb(9 35 80);
$iphone: 512px;
$highlight: rgb(180 180 180);

// mixins

@mixin focus() {
	&:focus-visible {
		outline: $highlight solid 3px;
	}
}

@mixin highlight-text() {
	::selection {
		background-color: white;
		color: $background;
	}
}
