// colors

$qm-blue: rgb(9 35 80);
$qm-compliment: rgb(146 191 246);
// $qm-compliment: rgb(239 220 178);
$qm-white: white;
// $highlight: rgb(180 180 180);

// sizes

$navi-height: 60px;
$ipad: 800px;

// mixins

@mixin focus() {
	&:hover,
	&:focus-visible {
		background-color: $qm-compliment;
		color: $qm-blue;
	}
}

@mixin highlight-text() {
	::selection {
		background-color: $qm-compliment;
		color: $qm-blue;
	}
}
